.modal__addTask  {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__addContent {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 1rem;
  width: 80%;
}

.modal__addContentTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal__close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal__close:hover,
.modal__close:focus {
  color: var(--color-red);
  text-decoration: none;
  cursor: pointer;
}

.modal__updateTask {
    display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__updateContent {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 1rem;
    width: 80%;
  }

.modal__updateContentTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modalUpdate__close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.modalUpdate__close:hover,
.modalUpdate__close:focus {
  color: var(--color-red);
  text-decoration: none;
  cursor: pointer;
}
